<h2 mat-dialog-title>Editar autor</h2> 
<h4 style="margin-left: 1.7% !important;"><b>Los campos con * son requeridos</b></h4>
<mat-divider></mat-divider>
<br>
<div mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
          <mat-form-field appearance="fill">
             <mat-label>Nombre de autor</mat-label>
             <input matInput autocomplete="off" formControlName="nombre">
          </mat-form-field>  

          <mat-form-field class="example-full-width">
            <mat-label>País de nacimiento</mat-label>
            <input matInput [matAutocomplete]="paises" formControlName="pais" autocomplete="off">
            <mat-autocomplete #paises="matAutocomplete">
              <mat-option *ngFor="let a of paisesOptions | async" [value]="a.name.common">
                {{a.name.common}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

         <mat-form-field class="example-full-width">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
            <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </form><br>
    
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">Cerrar</button>
    <button type="submit" mat-raised-button color="primary" (click)="editar()" [disabled] = "form.invalid"> 
        Guardar cambios
      </button>
</div>

