<h2 mat-dialog-title>Editar categoria</h2> 
<h4 style="margin-left: 1.7% !important;"><b>Los campos con * son requeridos</b></h4>
<mat-divider></mat-divider>
<br>
<div mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
          <mat-form-field appearance="fill">
             <mat-label>Nombre de categoria</mat-label>
             <input matInput autocomplete="off" formControlName="nombre">
          </mat-form-field>  

          <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea  rows="5"  matInput autocomplete="off" formControlName="descripcion"></textarea>
         </mat-form-field>   
    </form><br>
    
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">Cerrar</button>
    <button type="submit" mat-raised-button color="primary" (click)="editar()" [disabled] = "form.invalid"> 
        Guardar cambios
      </button>
</div>

