.example-spacer {
    flex: 1 1 auto;
  }
  mat-label{
    font-size: 14px !important;
  }
  
  mat-option{
    font-size: 12px !important;
  }
    mat-toolbar {
      background: rgb(1, 1, 36) !important;
    }
    
    .mat-drawer-container {
      background: #FFFFFF;
    }
    
    mat-sidenav {
      margin: 16px;
      width: 250px;
      border-right: none;
      background: #f5f5f5;
      color: white;
      border-radius: 10px;
      padding: 16px;
      text-align: center;
    }
    
    .content {
      height: calc(100vh - 108px);
      border-radius: 10px;
      margin: 16px;
      margin-left: 32px;
      background-color: #FFFFFF;
    }
    
    mat-sidenav-container {
      height: calc(92vh - 20px);
    }
    
    mat-divider {
      margin-top: 16px;
      margin-bottom: 16px;
      //background-color: rgba(255, 255, 255, 0.5);
    }
    
    
    .menu_option{
      width: 100% !important;
      margin-top: 5% !important;
      background-color:#FFFFFF !important;
      box-shadow: none !important;
      color: black !important;
      justify-content: flex-start !important;
    }
    
    .menu_option:hover{
      background-color:#EFECFF !important;
      color: #3F51B5 !important;
    }
    
    
    .sidebar_title{
      margin: 5% !important;
      color: gray !important;
      font-size: 13px !important;
    }
    
    .main_t{
      color:black !important;
      font-size: 13px !important;
    }
    
    .container {
      margin-left: 2% !important;
      margin-right: 2% !important;
      margin-bottom: 3.4% !important;
    }
    
    .black{
      background-color: rgb(1, 1, 36) !important;
      color: white !important;
    }