<mat-toolbar class="mat-elevation-z8" color="primary">
    <button mat-icon-button   (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>

    <a mat-button routerLink="welcome">
      <mat-icon>home</mat-icon>
    </a>

  </mat-toolbar>

    <mat-sidenav-container color="primary">
      <mat-sidenav #sidenav="matSidenav">
        <h4 class="sidebar_title"><b class="main_t">Menú</b></h4>
        <mat-divider></mat-divider>


        <mat-list role="list">
          <mat-list-item role="listitem">
            <button class="black" mat-raised-button (click)="sidenav.toggle()" routerLink="admin-books">Libros</button>
          </mat-list-item>

          <mat-list-item role="listitem">
            <button class="black" mat-raised-button (click)="sidenav.toggle()" routerLink="autores">Autores</button>
          </mat-list-item>

          <mat-list-item role="listitem">
            <button class="black" mat-raised-button (click)="sidenav.toggle()" routerLink="categorias">Categorías</button>
          </mat-list-item>
        </mat-list>

      </mat-sidenav>
      <mat-sidenav-content>
          <div class="container">
            <router-outlet ></router-outlet>
          </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
