<h2 mat-dialog-title>Editar libro</h2> 
<h4 style="margin-left: 1.7% !important;"><b>Los campos con * son requeridos</b></h4>
<mat-divider></mat-divider>
<br>
<div mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
          <mat-form-field appearance="fill">
             <mat-label>Nombre de libro</mat-label>
             <input matInput autocomplete="off" formControlName="titulo">
          </mat-form-field>  

          <mat-form-field appearance="fill">
            <mat-label>Precio de libro</mat-label>
            <input matInput autocomplete="off" formControlName="precio" type="number" min="0">
         </mat-form-field>  

         <mat-form-field class="example-full-width">
          <mat-label>Autor</mat-label>
          <input matInput [matAutocomplete]="autores" formControlName="autor_id" (ngModelChange)="getIdAutor($event)" autocomplete="off">
          <mat-autocomplete #autores="matAutocomplete" autocomplete="off">
            <mat-option *ngFor="let a of autoresOptions | async" [value]="a.nombre">
              {{a.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

  

        <mat-form-field class="example-full-width">
          <mat-label>Categoría</mat-label>
          <input  matInput [matAutocomplete]="categorias" formControlName="categoria_id" (ngModelChange)="getIdCategoria($event)" autocomplete="off">
          <mat-autocomplete #categorias ="matAutocomplete" autocomplete="off">
            <mat-option *ngFor="let a of categoriasOptions | async" [value]="a.nombre">
              {{a.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      
    </form><br>
    
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">Cerrar</button>
    <button type="submit" mat-raised-button color="primary" (click)="editar()" [disabled] = "form.invalid"> 
        Guardar cambios
      </button>
</div>

