h3{
    font-weight: bold !important;
}

mat-card{
  
    margin: auto !important;
    margin-top: 2% !important;
}

.option{
    text-align: center !important;
}


.example-card {
    max-width: 400px;
    margin-top: 2% !important;
    text-align: center !important;
  }
  
  mat-card-header{
    text-align: center !important;
  }

  .img1{
    width: 316px !important;
  }

  .img2{
    width: 206px !important;
  }

  .img3{
    width: 224px !important;
  }