<mat-card>
    <mat-card-content>
        <h3>Bienvenido al sistema administrador de libros </h3>
    </mat-card-content>
</mat-card>


<br><br>
<mat-grid-list cols="3" >
    <mat-grid-tile cols="1">

        <mat-card class="example-card">
              <h3 class="option">Administración de libros</h3>
              <mat-divider></mat-divider><br>
            <img mat-card-image src="./assets/img/libros3.png" class="img1">
            <br> <mat-divider></mat-divider> <br>
            <mat-card-content>
              <p>
                Gestiona tus libros. Crea, edita e inactiva tus registros.
              </p>
            </mat-card-content>
            <mat-divider></mat-divider> <br>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="goAdminBooks()">
                    <mat-icon>arrow_right_alt</mat-icon>
                    Acceder
                </button>
            </mat-card-actions>
        </mat-card>

    </mat-grid-tile>

    <mat-grid-tile cols="1">
        
        <mat-card class="example-card">
            <h3 class="option">Administración de autores</h3>
            <mat-divider></mat-divider><br>
          <img mat-card-image src="./assets/img/autores.png" class="img2">
          <br> <mat-divider></mat-divider> <br>
          <mat-card-content>
            <p>
              Gestiona los autores de tus libros. Crea, edita e inactiva tus registros.
            </p>
          </mat-card-content>
          <mat-divider></mat-divider> <br>
          <mat-card-actions>
              <button mat-raised-button color="primary" (click)="goAutores()">
                  <mat-icon>arrow_right_alt</mat-icon>
                  Acceder
              </button>
          </mat-card-actions>
      </mat-card>

    </mat-grid-tile>


    <mat-grid-tile cols="1">
        
        <mat-card class="example-card">
            <h3 class="option">Administración de categorías</h3>
            <mat-divider></mat-divider><br>
          <img mat-card-image src="./assets/img/libros.png" class="img3">
          <br> <mat-divider></mat-divider> <br>
          <mat-card-content>
            <p>
              Gestiona las categorías de tus libros. Crea, edita e inactiva tus registros.
            </p>
          </mat-card-content>
          <mat-divider></mat-divider> <br>
          <mat-card-actions>
              <button mat-raised-button color="primary" (click)="goCategorias()">
                  <mat-icon>arrow_right_alt</mat-icon>
                  Acceder
              </button>
          </mat-card-actions>
      </mat-card>

    </mat-grid-tile>

</mat-grid-list>
