<br><mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile cols="1">
        <h2>Administrador de libros</h2>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
        <button mat-raised-button color="primary" (click)="create()">
            <mat-icon>add</mat-icon>
            Agregar libro
        </button>
    </mat-grid-tile>
</mat-grid-list>
<br>
<mat-divider></mat-divider>
<br>

<mat-grid-list cols="2" rowHeight="60px">
    <mat-grid-tile cols="1">
        <mat-form-field appeareance="fill">
            <mat-label>Buscar libro por título</mat-label>
            <input matInput type="text" placeholder="Buscar..." autocomplete="off" (ngModelChange)="filtrar($event)" [(ngModel)]="texto">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1"></mat-grid-tile>
</mat-grid-list>
<br>

<mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="books_data">

      <ng-container matColumnDef="nombre" >
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let row" > {{row.titulo}} </td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef class="center"> Precio</th>
        <td mat-cell *matCellDef="let row" class="center"> {{row.precio | currency }}</td>
      </ng-container>
  
      <ng-container matColumnDef="nombre_autor">
        <th mat-header-cell *matHeaderCellDef>  Nombre de Autor </th>
        <td mat-cell *matCellDef="let row" >  {{row.autor.nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="nombre_categoria">
          <th mat-header-cell *matHeaderCellDef>  Nombre de Categoría </th>
          <td mat-cell *matCellDef="let row" > {{row.categoria.nombre}} </td>
        </ng-container>
  
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef class="center">  Estado </th>
          <td mat-cell *matCellDef="let row" [ngClass]="{red: row.estado === false, green: row.estado === true}"> <div *ngIf="row.estado === true">Activo</div>  <div *ngIf="row.estado === false">Inactivo</div> </td>
        </ng-container>
  
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef class="center"> ACCIONES </th>
        <td mat-cell *matCellDef="let row" class="center">
          <button mat-icon-button color="primary"   *ngIf="row.estado === true" matTooltip="Editar" matTooltipPosition="above" (click)="edit(row)" class="mat-elevation-z0">
            <mat-icon>edit</mat-icon>
          </button>
         
          <button *ngIf="row.estado === true" mat-icon-button color="warn" matTooltip="Cambiar estado" matTooltipPosition="above" (click)="delete(row)" class="mat-elevation-z0">
            <mat-icon>delete</mat-icon>
          </button>
         
          <button *ngIf="row.estado === false" mat-icon-button class="black"  matTooltip="Cambiar estado" matTooltipPosition="above" (click)="delete(row)" class="mat-elevation-z0">
            <mat-icon>cached</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <mat-grid-list cols="2" rowHeight="60px">
    <mat-grid-tile cols="1">
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-paginator #paginator 
      [pageSizeOptions]="[20, 5, 10 , 100]"
      showFirstLastButtons aria-label="Cantidad de registros a mostrar">
      </mat-paginator>
    </mat-grid-tile>
  </mat-grid-list>
  </mat-card-content>
</mat-card>
