mat-form-field{
    width: 70% !important;
}

table{
    width: 100% !important;
}

button{
    margin: 1% !important;
}

.red{
    background-color: rgb(243, 199, 199) !important;
    text-align: center !important;
}

.green{
    background-color: rgb(199, 243, 214) !important;
    text-align: center !important;
}

.center{
    text-align: center !important;
}


th{
    background-color: rgb(1, 1, 36) !important;
    color: white !important;
}

.black{
    color: black !important;
}