<br><mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile cols="1">
        <h2>Administrador de categorías</h2>
    </mat-grid-tile>
    <mat-grid-tile cols="1">
        <button mat-raised-button color="primary" (click)="create()">
            <mat-icon>add</mat-icon>
            Agregar categoría
        </button>
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <mat-divider></mat-divider>
  <br>
  
  <mat-grid-list cols="2" rowHeight="60px">
    <mat-grid-tile cols="1">
        <mat-form-field appeareance="fill">
            <mat-label>Buscar categoría por título</mat-label>
            <input matInput type="text" placeholder="Buscar..." autocomplete="off" (ngModelChange)="filtrar($event)" [(ngModel)]="texto">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile cols="1"></mat-grid-tile>
  </mat-grid-list>
  <br>
  
  <mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="categorias_data">
  
      <ng-container matColumnDef="nombre" >
        <th mat-header-cell *matHeaderCellDef> Nombre de categoría </th>
        <td mat-cell *matCellDef="let row" > {{row.nombre}} </td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef > Descripción</th>
        <td mat-cell *matCellDef="let row" > {{row.descripcion}}</td>
      </ng-container>
  
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef > ACCIONES </th>
        <td mat-cell *matCellDef="let row" >
          <button  mat-icon-button color="primary"  matTooltip="Editar" matTooltipPosition="above" (click)="edit(row)" class="mat-elevation-z0">
            <mat-icon>edit</mat-icon>
          </button>
         
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <mat-grid-list cols="2" rowHeight="60px">
    <mat-grid-tile cols="1">
    </mat-grid-tile>
    <mat-grid-tile cols="1">
      <mat-paginator #paginator 
      [pageSizeOptions]="[20, 5, 10 , 100]"
      showFirstLastButtons aria-label="Cantidad de registros a mostrar">
      </mat-paginator>
    </mat-grid-tile>
  </mat-grid-list>
  </mat-card-content>
  </mat-card>
  