<div mat-dialog-content>
      <h2>¿Deseas {{accion}} el libro <b>{{datos.titulo}}</b>?</h2>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
  <button type="submit" mat-raised-button color="primary"  (click)="cambiarEstado()"> 
    Confirmar acción
  </button>
</div>