/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
    &.success_dialog {
      --mdc-snackbar-container-color: #9df59d !important;
      --mat-mdc-snack-bar-button-color: black !important;
      --mdc-snackbar-supporting-text-color: black !important;
    }
  }

  .mat-mdc-snack-bar-container {
    &.error_dialog {
      --mdc-snackbar-container-color: #f86e6e !important;
      --mat-mdc-snack-bar-button-color: #fff !important;
      --mdc-snackbar-supporting-text-color: #fff !important;
    }
  }